<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home Web Application</title>
  <meta name="description" content="Web Application">
  <meta name="author" content="Keith S">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <!-- <script src="js/scripts.js"></script> -->
  <h1>Night Scheduler</h1>
  <form method="POST">
    <label for="name">What is your name?:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="month">For what month?:</label>
    <input type="number" id="month" name="month"><br><br>
    <label for="days">What days are you working?[comma seperated values]:</label>
    <input type="text" id="days" name="days"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>